.idea/**/workspace.xml
.idea/**/uiDesigner.xml
.idea/**/libraries
.idea/checkstyle-idea.xml
.idea/codeStyles
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
target/archive-tmp/
target/classes/application.yaml
target/generated-sources/
target/maven-archiver/
target/maven-status/
webtextbot.iml
.idea/sonarlint/
src/test/
target/classes/com/
target/webtextbot-1.0-SNAPSHOT-jar-with-dependencies.jar
target/webtextbot-1.0-SNAPSHOT.jar
